body{
    margin: 0;
    
}
.container{
    overflow: auto;
    display: flex;
}
.country-names{
   
    
    display: inline-flex;
    
    background: black;
    padding: 10px;
    margin-bottom: 10px;
}

.content-section{
  
    
    width: 1100px;
    background: black;
}




.headings{
    margin-left: 60px;
    color: #ebf2f5;

}


.confirm{
        
    margin-left: 60px;
    background: #b12245;
    padding: 10px;
}

.confirm:hover{
    
    box-shadow: 0.5px 0.5px 0.5px 0.5px blue;
}

.active{
    margin-left: 60px;
    background: rgba(153, 167, 248, 0.6);
    padding: 10px;

}

.active:hover{
    box-shadow: 0.5px 0.5px 0.5px 0.5px blue;
}

.recovered{
 
    margin-left: 60px;
    background: rgba(40,167,69,.6);
    padding: 10px;
}

.recovered:hover{
    box-shadow: 0.5px 0.5px 0.5px 0.5px blue;

}

.deaths{
  
    margin-left: 60px;
    background: #d4dfde;
    padding: 10px;
}

.deaths:hover{
    
    box-shadow: 0.5px 0.5px 0.5px 0.5px blue;
}

.search-container {
    border-radius: 30px;
    position: absolute;
    z-index: 100;
    top: 45px;
    right: 100px;
    width: 250px;
    height: 40px;
    background-color:  #ebf2f5;;
    display: flex;
    border: 2px solid #ccc;
}

.search-container .search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input {
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    border: none;
    color: black;
}

.search-container input:focus {
    outline: blue;
}

.search i {
    font-size: 15px;
    color: black;
}


#outerdiv{
    display: inline-grid;
    margin-top: 30px;
    
}

#outerdiv h6{
    
    text-align: center;
}


.data-heading{
    
    text-align: center;
    background: #061a1f;
    padding: 10px;
    margin-bottom: 10px;
    height: 100px;
    width: 1100px;
    color: #ebf2f5;
    
}




footer{
    
    bottom: 0px;
    margin-bottom: 0px;
    background: #061a1f;
    margin-left: 60px;
    height: 80px;
    color: #ebf2f5;
    width: 100%;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

